
.navbar {
    background-color: #f0f0f0;
    // position: fixed;
   max-width: 100vw;
    // z-index: 3;
    nav {
        ul {
            max-width: 90vw;
            margin: 0 auto;
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            li {
                list-style: none;
                margin-right: 10px;
                font-size: 1.5em;
                font-weight: 500;

                &.button {
                    background-color: #817f7f;
                    border-radius: 10px;
                    padding: 5px 10px 8px;
                    transition: all .2s ease-in-out;
                    a {
                    color: white;

                    }
                    &:hover {
                        background-color:#505050 ;
                    }
                }
            }
        }
    }
}